extends common/common
block head
    block metas
        +commonMeta
    block links
        +commonLink('')
    link(rel="stylesheet", href="index.css")
    block scripts
        +commonScript('')
    block title
        title 页面索引
block body
    table.index
        tr
            td
                label 登陆认证：
            td
                a(href='login/login.html',target='_blank') 登陆


