extends ../common/common
block head
	block metas
		+commonMeta
	block links
		+commonLink('../')
		link(rel="stylesheet", href= "../error/error.css")
	block scripts
		+commonScript('../')
		script(src="../error/error.js")
	block title
		title 帐号信息
block body
	section.center-header
		div.header-bg
			div.container
				div.navbar-header.clearfix
					div.logo
						img(src="../images/logo.png")
	block content
		div.errorInfo
			div.errorMsg
				img(src="../images/500.png")
	section.center-footer
		div.copyright
