.lar-text-left{
	text-align: left;
}

.lar-text-right{
    text-align: right;	
}

.lar-text-center{
    text-align: center;  
}

.lar-div-center{
    margin: 0 auto;
}

.lar-float-left{
	float: left;
}

.lar-float-right{
	float: right;
}

.lar-relative{
	position: relative;
}

.lar-position{
	position: absolute;
}