//.tab{
//    padding:0 0;
//    text-align:center;
//    a{ display:block; margin-bottom: 20px;}
//    a.active{ margin-bottom: 0px;}
//    img{ width:100%;}
//    span{ color:#a8dcf8; margin-left:30%;}
//}
//
//@media (min-width : 767px ){
//	.tab{ padding:20px 0;}
//}